*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
#hed-img-community{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5),rgba(0,0,0,0.5)50%),url(/NewBootWeb/image/learning.jfif);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    z-index: -1;
}